<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Seu Currículo</title>
</head>
<body>
    <main>
        <section class="form-container">
            <h2>Monte Seu Currículo</h2>
            <form action="/candidato/montarcurriculo" method="POST" class="formulario">

                <label for="cidade">*Cidade:</label>
                <input type="text" id="cidade" name="cidade" placeholder= "Ex: São Paulo" required>

                <label for="estado">*Estado:</label>
                <input type="text" id="estado" name="estado" placeholder= "Ex: SP" required>

                <hr>

                <label for="area">*Área de Interesse:</label>
                <input type="text" id="area" name="area" placeholder="Ex: Tecnologia da Informação">
                <hr>

                <div id="experience-container">
                    <h3>Experiência Profissional</h3>

                    <div class="experience-entry">
                        <label for="empresa">Empresa:</label>
                        <input type="text" id="empresa" name="nomeEmpresa" placeholder= "Ex: Job In Job">

                        <label for="cargo">Cargo:</label>
                        <input type="text" id="cargo" name="cargo" placeholder= "Ex: Auxiliar Adminsitrativo">

                        <label for="data-inicio">Data de Início:</label>
                        <input type="date" id="data-inicio" name="dataEntrada">
 
                        <label for="data-encerramento">Data de Encerramento:</label>
                        <input type="date" id="data-encerramento" class="data-encerramento" name="dataSaida">

                        <label for="atualmente" style="display:inline; margin-left: 5px;">
                            <input type="checkbox" class="atualmente" name="atualmente" onclick="toggleDataEncerramento(this)">
                            Atualmente
                        </label>
                    </div>
                </div>
                <hr>

                <div id="education-container">
                    <h3>*Formação</h3>

                    <div class="education-entry">
                        <label for="instituicao">*Instituição:</label>
                        <input type="text" id="instituicao" name="universidade" required placeholder= "Ex: Universidade Estadual de São Paulo">

                        <label for="curso">*Curso:</label>
                        <input type="text" id="curso" name="cursoGraduacao" required placeholder= "Ex: Bachalerado em Engenharia de Software">

                        <label for="data-inicio-educacao">*Data de Início:</label>
                        <input type="date" id="data-inicio-educacao" name="dataInicio" required>

                        <label for="data-formacao">*Data de Formação:</label>
                        <input type="date" id="data-formacao" name="dataTermino" required>
                    </div>
                </div>
                <hr>

                <div id="language-container">
                    <h3>Idiomas</h3>

                    <div class="language-entry">
                        <label for="lingua-materna">Línguas:</label>
                        <input type="text" id="lingua-materna" name="idioma" required placeholder= "Ex: Inglês Intermediário, Espanhol Básico">
                    </div>
                   
                </div>
                <hr>
                <input type="submit" value="Enviar Currículo">
            </form>
        </section>
    </main>
    <footer>
    <p>&copy; 2024 JobInJob. Todos os direitos reservados.</p>
    </footer>
</body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #E5E5E5;
    }
    
    header {
        background: #1C3659;
        color: #e5e5e5;
        padding: 1rem;
    }
    
    header h1 {
        margin-bottom: 0.5rem;
        color: #e5e5e5;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        
    }
    
    nav ul li a {
        color: #3498db; 
        text-decoration: none; 
    }
    
    nav ul li a:hover {
        color: #868686;
    }
    
    nav ul li a.active {
        color: #e74c3c; 
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
    }
    
    main {
        padding: 2rem;
    }
    
    section {
        margin-bottom: 2rem;
        color: #ffffff;
    }
    
    label{
        color: #E5E5E5;
    }
    
    h2 {
        margin-bottom: 1rem;
        color: #1C3659;
    }
    
    p{
        color: #fff;
    }
    
    footer {
        background: #1C3659;
        color: #e5e5e5;
        text-align: center;
        padding: 1rem;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    
    h3{
        font-size: x-large;
        color: #e5e5e5;
    }
    
    hr {
        border: none; 
        border-top: 2px solid #3179d6; 
        margin: 20px 0;
    }
    
    #inicio{
        color: #1C3659;
        font-weight: bold;
        
    }
    
    .form-container {
        background-color: #1C3659;
        padding: 20px;
        border-radius: 8px;
        max-width: 600px;
        margin: 20px auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .form-container h2 {
        color: #E5E5E5;
    }
    
    .form-container label {
        display: block;
        margin: 10px 0 5px;
        font-weight: bold;
    }
    
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="tel"],
    .form-container input[type="date"],
    .form-container select,
    .form-container textarea {
        background-color: #e5e5e5;
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .form-container input[type="submit"] {
        display: block;
        margin: 20px auto;
        background-color: #FFf;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    
    .form-container input[type="submit"]:hover {
        background-color: #555;
    
    }
    
    #add-experience {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFf;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-experience:hover {
        background-color: #555;
    }
    
    
    #add-education {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFF;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-education:hover {
        background-color: #555;
    }
    
    #add-course {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #FFF;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-course:hover {
        background-color: #555;
    }
    
    #add-language {
        display: block;
        margin: 20px auto; /* Centraliza o botão */
        background-color: #fff;
        color: #1C3659;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
    }
    
    #add-language:hover {
        background-color: #555;
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    header {
    background: #1C3659;
    color: #e5e5e5;
    padding: 1rem;
    }

    header h1 {
    margin-bottom: 0.5rem;
    color: #e5e5e5;
    
    }#navbar-brand{
    font-weight: bold;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li {
        display: inline;
        margin-right: 10px;
    }
    
    nav ul li a {
        color: white;
        text-decoration: none;
    }
    
    main {
        margin: 20px;
    }
    
    h2 {
        color: #333;
    }
    
    
    footer {
        text-align: center;
        padding: 10px;
        background-color: #1C3659;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    
    #inicio {
        margin-left: 20px;
    }
    #nomeec{
        color: #1C3659;
    }


    #dadosCurriculo{
        font-weight: medium;
        font-size: 18px;
    }
    
    #botaotabs{
        font-size: 28px;
        font-weight: bold;
        color: #E5E5E5;
        margin-left: 20px;
    }
    
    #labelArea{
        color: #1C3659;
        font-size: 24px;
        font-weight: bold;
    }
    
    #meucurriculodesc{
        color: #1C3659;
        font-size: 16px;
        font-weight: bold;
    }
</style>

<script>
    function toggleDataEncerramento(checkbox) {
        const dataEncerramento = checkbox.closest('.entry').querySelector('.data-encerramento');
        dataEncerramento.disabled = checkbox.checked;
    }
</script> 