<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job In Job - Cadastro</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.css">
</head>

<body>
    <div class="container mt-4">
        <div class="box">
            <div class="group">
                <div class="lado-esquerdo">
                    <img src="/img/logo.jpg" alt="Logo">
                    <div class="possuicadastro">Não possui conta?</div>
                    <button type="button" class="acesse" onclick="window.location.href='/empresa/cadastro/adicionar';">Criar Conta</button>
                </div>

                <div class="overlap">
                    <form action="/empresa/login" method="POST" class="formulario">
                        <h1 class="cadastro">LOGIN</h1>
                        <div class="card-body">
                       
                            <label for="email">E-mail</label>
                            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" class="form-control"
                                required>

                            <label for="senha">Senha</label>
                            <input type="password" id="senha" name="senha" placeholder="Digite sua senha"
                                class="form-control" required>

                            <div class="checkbox-container">
                                <input type="checkbox" id="mostrar-senha" onclick="togglePassword()">
                                <label for="mostrar-senha">Mostrar senha</label>
                            </div>

                            <br>
                            <button type="submit" class="btn btn-success">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #d9d9d9;
        overflow: hidden;
    }

    .box {
        display: flex;
        width: 90%;
        max-width: 1200px;
        background-color: #1c3659;
        border-radius: 30px;
        overflow: hidden;
        height: 80vh;
        margin: 0 auto;
    }

    .group {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .lado-esquerdo {
        flex: 1;
        padding: 20px;
        background-color: #1c3659;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .lado-esquerdo img {
        width: 60%;
        max-width: 250px;
        height: auto;
        margin-bottom: 20px;
    }

    .possuicadastro {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .acesse {
        padding: 10px 20px;
        background-color: #e3e6e9;
        color: #1c3659;
        font-size: 20px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .acesse:hover {
        background-color: #628f9e;
        color: #ffffff;
    }

    .overlap {
        flex: 2;
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .formulario {
        font-size: 10px;
        width: 90%;
        max-width: 400px;
        height: 100%;
        max-height: -50px;
        margin-top: 60px;
        margin-bottom: 3px;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 36px;
        
    }

    .cadastro {
        color: #1c3659;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
    }

    input,
    .btn,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-top: 10px;
    }

    .btn {
        background-color: #1c3659;
        color: white;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }

    small {
        font-size: 9px;
    }

    .card-body {
        margin-top: 60px;
    }


    @media (max-width: 768px) {
        .box {
            flex-direction: column;
            height: auto;
            width: 90%;
        }

        .lado-esquerdo {
            padding: 10px;
            justify-content: center;
        }

        .overlap {
            padding: 20px;
        }

        .lado-esquerdo img {
            max-width: 200px;
        }

        input,
        .btn {
            padding: 10px; 
            font-size: 14px;
        }
    }
</style>

<script>
    function togglePassword() {
        var passwordField = document.getElementById("senha");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>