<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{/static/css/cadastrocnpj.css}">
</head>
<body>
<div class="box">
    <div class="group">
        <div class="overlap-group">
            <!-- Área de Cadastro -->
            <div class="overlap">
                <form class="formulario" th:action="@{/empresa/add}" th:object="${empresa}" method="post">
                    <h1 class="cadastro">CADASTRO</h1>

                    <input type="text" class="caixanome" th:field="*{nomeEmpresa}" placeholder="Nome da Empresa">

                    <input type="text" class="caixacnpj" th:field="*{cnpj}" placeholder="CNPJ">

                    <input type="email" class="caixaemail" th:field="*{email}" placeholder="Email">

                    <input type="text" class="caixacidade" th:field="*{cidade}" placeholder="Cidade">

                    <input type="text" class="caixaestado" th:field="*{estado}" placeholder="Estado">

                    <input type="password" class="caixasenha" th:field="*{senha}" placeholder="Senha">

                    <button type="submit" class="cadastrar">Cadastrar</button>
                </form>
            </div>

            <!-- Área Lateral -->
            <div class="lado-esquerdo">
                <img class="azul" th:src="@{/static/Imagens/logo.jpg}" alt="Logo">
                <div class="possuicadastro">Já possui cadastro?</div>
                <a href="#" class="acesse" th:href="@{/logincnpj.html}">Entrar</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>