<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobInJob - Página Inicial</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <h1 id ="inicioJob">JobInJob</h1>
                <li><a id="iniciomargin" href="telainicial.html" class="active">Tela Inicial</a></li>
                <li><a id="botaotabs" href="index.html">Login</a></li>
                <li><a id="botaotabs" href="curriculo.html">Monte seu Currículo</a></li>
                <li><a id="botaotabs" href="visualizacao.html">Visualizar Currículo</a></li>
                <li><a id="botaotabs" href="exibircurriculos.html">Exibir Currículos</a></li>
                <li><a id="botaotabs" href="meu_curriculo.html">Meu Currículo</a></li>
                <li><a id="botaotabs" href="logincpf.html">Login candidatos</a></li>
                <li><a id="botaotabs" href="create.html">Cadastro Candidato</a></li>
                <li><a id="botaotabs" href="logincnpj.html">Login empresas</a></li>
                <li><a id="botaotabs" href="cadastroEmpresa.html">Cadastro Empresas</a></li>
            
            </ul>
        </nav>
    </header>

    <main>
        <!-- Banner de Apresentação -->
        <section id="banner">
            <div class="banner-content">
                <h2 id = "headerjob">Bem-vindo ao JobInJob</h2>

            </div>
        </section>

        <section id="home">
            <h2 id = "paginaInicio">Início</h2>
            <p id="iniciotext">
                A Job in Job é um projeto desenvolvido por alunos do Centro Universitário Filadélfia - 
                UniFil, do curso de Engenharia de Software na disciplina de Extensão Curricular Universitária, 
                iniciada no ano de 2024, que busca sanar a dor da comunidade na procura de empregos..</p>
        </section>

        <section id="about">
            <h2 id = "paginaInicio">Nosso site</h2>
            <p id="iniciotext">O JobInJob oferece ferramentas para criar, visualizar e exibir currículos, facilitando a conexão entre candidatos e empregadores.</p>
            <a id = "linksite" href="https://thejobinjob.wixstudio.io/jobinjob" class="banner-button">Visite nosso site oficial</a>
        </section>

        <section id="GitHub">
            <h2 id = "paginaInicio">GitHub</h2>
            <a id = "linksite" href="https://github.com/LeandroDeFRusso/Job-In-Job" class="banner-button">Acesse o repositório do nosso projeto</a>
        </section>

        <section id="Quem Somos">
            <h2 id = "paginaInicio">Quem somos</h2>
            <img type = "quemsomosimg" class="Quem Somos" src="/static/Imagens/quemsomos.jpg" />
        </section>
    </main>

    <footer>
        <p>&copy; 2024 JobInJob. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
