<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/static/CSS/logincnpj.css">
</head>
<body>
    <div class="box">
        <div class="group">
            <div class="overlap-group">
                <!-- Área de Cadastro -->
                <div class="overlap">
                    <form class="formulario">
                        <h1 class="login">LOGIN</h1>


                        <input type="email" class="caixaemail" placeholder="Email">

                        <input type="password" class="caixasenha" placeholder="Senha">

                        <button type="button" class="cadastrar" onclick="window.location.href='index.html';">Entrar</button>
                    </form>
                </div>

                <!-- Área Lateral -->
                <div class="lado-esquerdo">
                    <img class="azul" src="/static/Imagens/logo.jpg" alt="Logo">
                    <div class="bemvindo">Bem-vindo de volta!</div>
                    <div class="possuicadastro">Não possui cadastro?</div>
                    <button type="button" class="acesse" onclick="window.location.href='cadastrocnpj.html';">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
